<div id="featured-vehicles" class="col-sm-12">
  <div class="col-12 header">
    <h3>Find Your Vehicle</h3>
    <h2>Vehicles Near You</h2>
    <!-- <p style="text-align: left;margin: 20px auto;">You have been prequalified for the vehicles below. Due to possible differences in the suggested vehicle price and the above pre-qualification, the payment amount, term, APR, and down payment may not be the same as the original pre-qualification.</p> -->
  </div>
  <div class="vehicle-items">
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
  </div>
  <div class="col-xs-12 browse-vehicles">
    <a href="" class="btn btn-primary"
      >Browse Vehicles <i class="fa fa-plus"></i
    ></a>
    <!-- <p style="text-align: center;margin: 20px auto;">
      The vehicles listed in the browse vehicle section may fall outside of your
      original pre-qualification
    </p> -->
  </div>
  <div class="clear"></div>
</div>
