.no-pad {
    padding: 0;
  }
  .no-marg {
    margin: 0;
  }
  .isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  #featured-vehicles {
    margin-bottom: 20px;
  }
  #featured-vehicles .fa {
    background-image: none;
    background-repeat: initial;
  }
  #featured-vehicles > div.header {
    text-align: center;
  }
  #featured-vehicles > div.header h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: grey;
  }
  #featured-vehicles > div.header h2 {
    margin-top: 0;
    font-size: 32px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item {
    margin-bottom: 10px;
    position: relative;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .vehicle-thumbnail {
    margin-right: 2px;
    overflow: hidden;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .vehicle-thumbnail .img {
    padding-top: 67%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    transition: all .4s;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .vehicle-thumbnail:hover .img {
    transform: scale(1.1);
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info {
    padding: 9px 20px 10px;
    margin-right: 2px;
    border: 1px solid #ece9e9;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info .disclaimer {
    color: #f29931;
    font-size: 11px;
    padding: 10px 0;
    cursor: pointer;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info .disclaimer p {
    margin-top: 10px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info .disclaimer p:hover {
    text-decoration: underline !important;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:first-child {
    font-size: 14px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:first-child span {
    color: #808080;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:first-child span.make {
    font-weight: bold;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:last-child {
    margin-top: 5px;
    font-size: 13px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:last-child .year {
    padding: 1px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    color: #808080;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(1) > div:last-child .mileage {
    color: #808080;
    font-size: 12px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(2) {
    text-align: right;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(2) .payment-label {
    font-size: 12px;
    font-weight: bold;
    color: #333;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-container .info a > div:nth-child(2) .price {
    font-size: 23px;
    line-height: 25px;
    display: block;
    color: #333;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-fav-icon {
    margin-bottom: 0 !important;
    position: absolute;
    top: 7px;
    left: 12px;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-fav-icon a:hover .fa:before {
    color: #3C65CF;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-fav-icon a .fa {
    background: none;
  }
  #featured-vehicles > div.vehicle-items > div.vehicle-item .vehicle-fav-icon a .fa:before {
    color: #fff;
  }
  #featured-vehicles > div.vehicle-items p.no-data {
    font-size: 12px;
    text-align: center;
  }
  #featured-vehicles > div.browse-vehicles {
    text-align: center;
    margin-top: 30px;
  }
  #featured-vehicles > div.browse-vehicles a.btn-primary {
    padding: 40px;
  }
  #featured-vehicles > div.vehicle-items .loading {
    position: relative;
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay.lds-facebook {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: rgba(12, 71, 150, 0.74);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  #featured-vehicles > div.vehicle-items .loading .loader-overlay.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%,
    100% {
      top: 19px;
      height: 26px;
    }
  }
  @media (min-width: 430px) and (max-width: 767px) {
    #featured-vehicles > div.vehicle-items > div.vehicle-item {
      width: 50%;
      float: left;
    }
  }
  